body {
    font-family: "Arial", Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 auto;
}

.responsive-box {
    aspect-ratio: 5/8;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.pop-in-element {
    transform: scale(0.1);
    animation: pop-in-bounce 0.2s forwards;
    will-change: transform, opacity;
}

@keyframes pop-in-bounce {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    70% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.pop-out-element {
    opacity: 0;
    transform: scale(0);
    animation: pop-out-bounce 0.2s forwards;
    will-change: transform, opacity;
}

@keyframes pop-out-bounce {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    30% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
    }
}

button:focus {
    outline: .3rem solid #aae;
}

input:focus {
    outline: .3rem solid #aae;
}

button {
    box-shadow: none;
    border-style: solid;
}

.guess {
    width: 100%;
}

.guesses {
    margin-bottom: 2rem;
}

.dialog {
    width: 100%;
    height: auto;
    background-color: #dde;
}

.next {
    font-size: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
    text-align: center;
    border-color: #448;
}

.letter {
    aspect-ratio: 1;
    margin: 3px;
    font-size: 300%;
    width: 18%;
    height: auto;
    border-color: #bbb;
}

.correct {
    background-color: #1ea61a;
    border-color: #1ea61a;
    color: white;
}

.misplaced {
    background-color: yellow;
    border-color: #ecec00;
    color: black;
}

.incorrect {
    background-color: white;
    border-color: #ddd;
    color: black;
}

.cite::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    outline: 3px;
    outline-style: solid;
    outline-color: #aa4b00bb;
    border-radius: 50%; /* circle */
}

.dialog-title {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.dialog-body {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: left;
}

.dialog-input {
    padding: 5px;
    font-size: 25;
    text-align: left;
    width: 5.5em;
    margin: 1rem;
    text-transform: uppercase;
}

.button-container {
    padding: 5px;
    text-align: right;
}

