body {
    font-family: "Arial", Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pop-in-element {
    transform: scale(0.1);
    animation: pop-in-bounce 0.2s forwards;
    will-change: transform, opacity;
}

@keyframes pop-in-bounce {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    70% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.pop-out-element {
    opacity: 0;
    transform: scale(0);
    animation: pop-out-bounce 0.2s forwards;
    will-change: transform, opacity;
}

@keyframes pop-out-bounce {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    30% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
    }
}

button:focus {
    outline: 4px solid #aae;
}

input:focus {
    outline: 4px solid #aae;
}

button {
    box-shadow: none;
    border-style: solid;
}

.guess {
    width: 22.4rem;
    margin: 5px;
}

.guesses {
    margin-bottom: 30px;
}

.dialog {
    width: 350px;
    padding: 3px;
    height: auto;
    margin: 5px;
    background-color: #dde;
}

.next {
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    text-align: center;
    border-color: #448;
}

.letter {
    margin:3px;
    font-size: 2.3rem;
    width: 4rem;
    height: 4rem;
    border-color: #bbb;
}

.correct {
    background-color: #1ea61a;
    border-color: #1ea61a;
    color: white;
}

.misplaced {
    background-color: yellow;
    border-color: #ecec00;
    color: black;
}

.incorrect {
    background-color: white;
    border-color: #ddd;
    color: black;
}

.cite::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    outline: 3px;
    outline-style: solid;
    outline-color: #aa4b00bb;
    border-radius: 50%; /* Makes a circle */
}

.dialog-title {
    padding: 5px;
    font-size: 18;
    font-weight: bold;
    text-align: left;
}

.dialog-body {
    padding: 5px;
    font-size: 16;
    text-align: left;
}

.dialog-input {
    padding: 5px;
    font-size: 25;
    text-align: left;
    width: 5.5em;
    margin: 10px;
    text-transform: uppercase;
}

.button-container {
    padding: 5px;
    text-align: right;
}

